Checks:
    - "-*"
    - "bugprone-*"
    - "-bugprone-easily-swappable-parameters"
    - "clang-analyzer-*"
    - "concurrency-*"
    - "cppcoreguidelines-*"
    - "-cppcoreguidelines-pro-type-union-access"
    - "-cppcoreguidelines-pro-bounds-pointer-arithmetic"
    - "performance-*"
    - "readability-*"
    - "portability-*"

