Checks:
    - "-*"
    - "bugprone-*"
    - "-bugprone-easily-swappable-parameters"
    - "clang-analyzer-*"
    - "concurrency-*"
    - "cppcoreguidelines-*"
    - "performance-*"
    - "readability-*"
    - "portability-*"

